<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="NewPersistenceUnit" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <properties>
            <property name="hibernate.connection.url" value="${mysql.url}"/>
            <property name="hibernate.connection.driver_class" value="${mysql.driverClassName}"/>
            <property name="hibernate.connection.username" value="${mysql.username}"/>
            <property name="hibernate.connection.password" value="${mysql.password}"/>
            <property name="hibernate.archive.autodetection" value="class"/>
            <property name="hibernate.show_sql" value="false"/>
            <property name="hibernate.databasePlatform" value="org.hibernate.dialect.MySQL57Dialect"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hbm2ddl.auto" value="update"/>
        </properties>
    </persistence-unit>
</persistence>
